[v-cloak] { display:none; }

// margin and padding helpers
$spaceamounts: (0, 5, 10, 15, 20, 25, 30, 50, 100);
$positions: ('top', 'left', 'bottom', 'right');

@each $size in $spaceamounts {
  .has-margin-#{$size} {
    margin: $size + px;
  }
  .has-padding-#{$size} {
    padding: $size + px;
  }

  @each $position in $positions {
    .has-margin-#{$position}-#{$size} {
      margin-#{$position}: $size + px;
    }
    .has-padding-#{$position}-#{$size} {
      padding-#{$position}: $size + px;
    }
  }
}